[Desktop Entry]
Name=d 
Comment=DuckDuckGo
Exec=chromium https://duckduckgo.com/?q=%U
Icon=text-html
Type=Application
Name[en_GB]=Search_d_DuckDuckGo
