[Desktop Entry]
Name=di 
Comment=DuckDuckGo Images
Exec=xdg-open https://duckduckgo.com/?ia=images\&iax=1\&q=%U
Icon=text-html
Type=Application
Name[en_GB]=Search_DuckDuckGo-Images
